In [1]:
import numpy as np 
import pandas as pd 
import nltk
from nltk.corpus import stopwords
import string

In [2]:
path="https://raw.githubusercontent.com/Ashutoshrx/Natural-Language-Processing/main/data/spam.csv"

In [3]:
df = pd.read_csv(path,encoding='latin-1')

In [4]:
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [5]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Checking for duplicates and removing them

In [6]:
df.drop_duplicates(inplace = True)

Show the new shape (number of rows & columns)

In [7]:
df.shape

(5169, 5)

Show the number of missing (NAN, NaN, na) data for each column

In [8]:

df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5126
Unnamed: 3    5159
Unnamed: 4    5164
dtype: int64

Need to download stopwords

In [9]:

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

**
1.Tokenization (a list of tokens), will be used as the analyzer

2.Punctuations are [!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]

3.Stop words in natural language processing, are useless words (data). 
**

In [10]:

def process_text(text):
    
    #1 Remove Punctuationa
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    
    #2 Remove Stop Words
    clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    
    #3 Return a list of clean words
    return clean_words

In [11]:
#Show the Tokenization (a list of tokens )
df['v2'].head().apply(process_text)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: v2, dtype: object

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
messages_bow = CountVectorizer(analyzer=process_text).fit_transform(df['v2'])

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(messages_bow, df['v1'], test_size = 0.2, random_state = 0)

In [14]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape,messages_bow.shape

((4135, 11304), (1034, 11304), (4135,), (1034,), (5169, 11304))

In [21]:
from sklearn import svm
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [19]:
# Classifier - Algorithm - SVM
# fit the training dataset on the classifier
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(X_train,y_train)
# predict the labels on validation dataset
predictions_SVM = SVM.predict(X_test)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, y_test)*100)

SVM Accuracy Score ->  98.06576402321083

In [23]:
print(classification_report(y_test ,predictions_SVM ))
print('Confusion Matrix: \n', confusion_matrix(y_test,predictions_SVM))
print()
print('Naive Bayes accuracy score in %: ', accuracy_score(y_test,predictions_SVM)*100)

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       885
        spam       1.00      0.87      0.93       149

    accuracy                           0.98      1034
   macro avg       0.99      0.93      0.96      1034
weighted avg       0.98      0.98      0.98      1034

Confusion Matrix:
 [[885   0]
 [ 20 129]]

Naive Bayes accuracy score in %:  98.06576402321083